/*****************************************************************
   LOGIN   ********************************************   LOGIN   
*****************************************************************/
#forager-img{
    width:300px;
  }
  
  .login-page{
    display: flex;
    align-items: end;
  }
  
  .login{
    width: 250px;
    height:400px;
  }