/*****************************************************************
  APP   **********************************************************
*****************************************************************/
.app {
  background-color: grey;
  font-family: Verdana, sans-serif;
  height: 100vh;
  width: 100vw;
}


/*****************************************************************
  HEADER   *******************************************************
*****************************************************************/
.header{
  background-color: red;
}


/*****************************************************************
  NAVBAR   *******************************************************
*****************************************************************/
.nav{
  background-color: orange;
}


/*****************************************************************
  HOME   *********************************************************
*****************************************************************/
.home{
  background-color: brown;
}
.first-container{
  background-color: yellow;
}

.second-container{
  background-color: green;
}

.third-container{
  background-color: blue;
}


/*****************************************************************
  FOOTER   *******************************************************
*****************************************************************/
.footer{
  background-color: blueviolet;
}


/*****************************************************************
  NAVBAR   *******************************************************
*****************************************************************/

