@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Righteous&display=swap");

/* PALETTE
#954A06 = RUST
#AB8A75 = EARTH
#B5B08E = MOSS
#909194 = FOG
#F2E9E2 = SAND
*/



/*****************************************************************
   APP   ************************************************   APP   
*****************************************************************/
#app {
  background-color: #F2E9E2;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 600px;
}

body {
  margin: 0 auto;
}

#component-format {
  display: flex;
  flex-direction: row;
  /* justify-content: end; */
}

#sidebar-container {
  min-width: 180px;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 6px;
}

button {
  font-family: 'Comfortaa', cursive;
  border: none;
  cursor: pointer;
}

button:active {
  transform: translateY(2px);
}

button:hover {
  opacity: .7;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

.app-btn {
  background-color: #AB8A75;
  border-radius: 50px;
  color:white;
  min-width: 150px;
  font-size: 15px;
  font-weight: 1000;
  height: 24px;
}

.app-btn:active {
  transform: translateY(2px);
}


/*****************************************************************
   NAVBAR   ******************************************   NAVBAR   
*****************************************************************/
#nav {
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

#logo-container {
  background-color: #F2E9E2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  margin-left: 30px;
  margin-bottom: 13px;
}



#links-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width:180px;
  gap: 6px;
}

#header-btn {
  font-family: 'Righteous', cursive;
  font-size: 55px;
  color: black;
}

#knowild-logo {
  height: 50px;
  opacity: .8;
}

#basket-btn {
  background-color: #954A06;
  margin-top: 16px;
}

#add-btn {
  background-color: #909194;
}


/*****************************************************************
   HOME   *********************************************   HOME   
*****************************************************************/
#content-container {
  margin-left:10vw;
  margin-right:2vw;
  min-width: 400px;
  /* margin-right: 5vw; */
}

@media only screen and (max-width: 650px) {
  #content-container{
    margin-left:20px;
  }

}

.section-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 350px;
  gap: 15px;
  width: fit-content;
  /* justify-content: center; */
  align-items: center;
  min-width: 250px;
}

.category-card {
  width: 250px;
  height: 150px;
  background-color: #B5B08E;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-repeat: no-repeat;
  background-size: 100%;
}

@media only screen and (max-width: 1092px) {
  .category-card{
    width: 220px;
  }
}

@media only screen and (max-width: 720px) {
  .category-card{
    width: 140px;
  }
}
#mushrooms {
  background-image: url("assets/mushroom.png");
  background-size: 90%;
}
#flowers {
  background-image: url("assets/flower.png");
}
#fruits {
  background-image: url("assets/fruit.png");
  background-size: 110%;
}
#roots {
  background-image: url("assets/root.png");
}
#herbs {
  background-image: url("assets/herb.png");
  background-size: 110%;
}
#leafs {
  background-image: url("assets/leaf.png");
}

#category-title {
  font-weight: 800;
  color: black;
  text-decoration: none;
  padding:15px 20px;
}

.category-img {
  width: 250px;
  opacity: .4;
}


@media only screen and (max-width: 771px) {
  .category-img{
    width: 170px;
    transform: translateY(3px);
  }
}

.category-card:hover {
  transform: scale(1.05);
  opacity: .7;
}

.category-card:active {
  transform: translateY(2px);
}

.category-btn {
  width: 250px;
  height: 150px;
}

.park-card {
  background-color: #B5B08E;
  height: 300px;
  border-radius: 10px;
  width: 184px;
}
@media only screen and (max-width: 1092px) {
  .park-card {
    width: 330px;
    height: 210px;
  }
}
.park-card:hover {
  transform: scale(1.05);
  opacity: .7;
}

.park-card:active {
  transform: translateY(2px);
}

#locations{
  display: flex;
  flex-direction: row;
  /* flex-wrap: nowrap; */
  width: fit-content;
  justify-content: center;
  align-items: center;

}

.park-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* gap: 20px; */
  justify-content: center;
  align-items: center;
  gap: 15px;

}
/*****************************************************************
   BASKET   ******************************************   BASKET   
*****************************************************************/



/*****************************************************************
   CATEGORIES   *********************************   CATEGORIES   
*****************************************************************/



/*****************************************************************
   LOCATIONS   ***********************************   LOCATIONS   
*****************************************************************/



/*****************************************************************
   FOOTER   *****************************************   FOOTER   
*****************************************************************/
.footer {
  background-color: #909194;
  height: 10vh;
}


