@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Righteous&display=swap");

/* PALETTE
#954A06 = RUST
#AB8A75 = EARTH
#B5B08E = MOSS
#909194 = FOG
#F2E9E2 = SAND
*/



/*****************************************************************
   APP   ************************************************   APP   
*****************************************************************/
#app {
  background-color: #F2E9E2;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 600px;
}

body {
  margin: 0 auto;
}

#component-format {
  display: flex;
  flex-direction: row;
}

#sidebar-container {
  min-width: 180px;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 6px;
}

button {
  font-family: 'Comfortaa', cursive;
  border: none;
  cursor: pointer;
}

      button:active {
        transform: translateY(2px);
      }

      button:hover {
        opacity: .7;
      }

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-weight: 800;
}

.app-btn {
  background-color: #AB8A75;
  border-radius: 50px;
  color:white;
  min-width: 150px;
  font-size: 15px;
  font-weight: 1000;
  height: 24px;
}

      .app-btn:active {
        transform: translateY(2px);
      }

/*****************************************************************
   NAVBAR   ******************************************   NAVBAR   
*****************************************************************/
#nav {
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

#logo-container {
  background-color: #F2E9E2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  margin-left: 30px;
  margin-bottom: 13px;
}

#header-btn {
  font-family: 'Righteous', cursive;
  font-size: 55px;
  color: black;
}

#knowild-logo {
  height: 50px;
  opacity: .8;
}

#links-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width:180px;
  gap: 6px;
}

#basket-btn {
  background-color: #954A06;
  margin-top: 16px;
}



/*****************************************************************
   HOME   *********************************************   HOME   
*****************************************************************/
#content-container {
  margin-left:10vw;
  margin-right:2vw;
}

      @media only screen and (max-width: 650px) {
        #content-container{
          margin-left:20px;
        }
      }

.section-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 350px;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

#categories{
  gap: 15px;
}

.category-card {
  width: 20vw;
  height: 150px;
  background-color: #B5B08E;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-repeat:space;
  background-size: 120%;
  background-position: center center;
  min-width:150px;
}

      .category-card:hover {
        transform: scale(1.05);
        opacity: .7;
      }

      .category-card:active {
        transform: translateY(2px);
      }

#category-title {
  padding:15px 20px;
}

.category-img {
  width: 250px;
  height: 100%;
  opacity: .4;
}

      #mushrooms {background-image: url("assets/mushroom.png");}
      #flowers {background-image: url("assets/flower.png");}
      #fruits {background-image: url("assets/fruit.png");}
      #roots {background-image: url("assets/root.png");}
      #herbs {background-image: url("assets/herb.png");}
      /* #seeds {background-image: url("assets/seed.png");} */

.park-card {
  background-color: #B5B08E;
  height: 300px;
  border-radius: 10px;
  width: 14.4vw;
}

      @media only screen and (max-width: 750px) {
        .park-card {
          width: 315px;
          height: 210px;
        }
      }

      .park-card:hover {
        transform: scale(1.05);
        opacity: .7;
      }

      .park-card:active {
        transform: translateY(2px);
      }

#locations{
  gap: 15px;
  width: 100%;
}

      @media only screen and (max-width: 750px) {
        #locations {
        margin-top: 15px;
        margin-bottom: 15px;
        }
      }

/*****************************************************************
   BASKET   ******************************************   BASKET   
*****************************************************************/



/*****************************************************************
   CATEGORIES   *********************************   CATEGORIES   
*****************************************************************/



/*****************************************************************
   LOCATIONS   ***********************************   LOCATIONS   
*****************************************************************/



/*****************************************************************
   FOOTER   *****************************************   FOOTER   
*****************************************************************/
.footer {
  background-color: #909194;
  height: 10vh;
}


